###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* eol=lf

###############################################################################
# Set behavior for image files.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.ico   binary
